<% provide(:title, "Log in") %>
<h1>Log in</h1>

<div class="row-centered">
  <div class="col-md-3 col-centered">
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :rf, "RF" %>
      <%= f.text_field :rf, class: 'form-control', maxlength: 7 %>

      <%= f.label :password, "Senha" %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.submit "Log in", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>