<% provide(:title, @objeto.nome) %>

<% if admin? %>
  <p style="float: right;">
    <%= link_to "", edit_objeto_path(@objeto), class: "glyphicon glyphicon-pencil btn btn-default btn-lg" %>
    <%= link_to "", @objeto, method: :delete, data: { confirm: "Tem certeza que deseja deletar este objeto?" }, class: "glyphicon glyphicon-trash btn btn-default btn-lg" %>
  </p>
<% end %>

<p><strong>Nome: </strong><%= @objeto.nome %></p>
<p><strong>Existe nos setores: </strong></p>
<ul class="listar">
  <% @objeto.sectors.each do |sector| %>
    <li>
      <%= link_to sector.nome, sector %>
      | <%= link_to "editar", edit_sector_path(sector) %>
      <% if admin? %>
        | <%= link_to "deletar", sector, method: :delete, data: { confirm: "Tem certeza que deseja deletar este setor?" } %>
      <% end %>
    </li>
  <% end %>
</ul>