<% provide(:title, @sector.nome) %>

<% if admin? %>
  <p style="float: right;">
    <%= link_to "Editar", edit_sector_path(@sector), class: "btn btn-default" %>
    <%= link_to "Deletar", @sector, method: :delete, data: { confirm: "Tem certeza que deseja deletar este sector?" }, class: "btn btn-default" %>
  </p>
<% end %>

<p><strong>Nome: </strong><%= @sector.nome %></p>
<p><strong>Bairro: </strong><%= @sector.bairro %></p>
<p><strong>Rua: </strong><%= @sector.rua %></p>
<p><strong>Número: </strong><%= @sector.numero %></p>
<% if !@sector.complemento.blank? %>
  <p><strong>Complemento: </strong><%= @sector.complemento %></p>
<% end %>

<% if admin? %>
  <p><strong>Funcionários: </strong></p>
  <ul class="listar">
    <% @sector.solicitantes.each do |solicitante| %>
      <li>
        <%= link_to solicitante.nome, solicitante %>
        | <%= link_to "editar", edit_solicitante_path(solicitante) %>
        <% if admin? %>
          | <%= link_to "deletar", solicitante, method: :delete, data: { confirm: "Tem certeza que deseja deletar este solicitante?" } %>
        <% end %>
      </li>
    <% end %>
  </ul>
  
  <p class="espaco"><strong>Equipamentos: </strong></p>
  <ul class="listar">
    <% @sector.objetos.each do |objeto| %>
      <li>
        <%= link_to objeto.nome, objeto %>
        | <%= link_to "editar", edit_objeto_path(objeto) %>
        <% if admin? %>
          | <%= link_to "deletar", objeto, method: :delete, data: { confirm: "Tem certeza que deseja deletar este objeto?" } %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>