<% provide(:title, @user.name) %>

<% if admin? && current_user.id != @user.id %>
  <p><strong>Nome: </strong><%= @user.name %></p>
  <p><strong>RF: </strong><%= @user.rf %></p>
  <p><strong>Email: </strong><%= @user.email %></p>
  <p><strong>Celular: </strong><%= @user.celular %></p>
  <p><strong>Comunicador: </strong><%= @user.comunicador %></p>
  
  <%= render 'chamados/listar_chamados_adm' %>
  
<% else %>

  <div class="row">   
    <div class="col-md-8">    
  	<%= render 'chamados/listar_chamados' %>    
    </div>
  </div>
<% end %>