<% provide(:title, "Filtro de Chamado") %>
<h1 style="margin-left: 110px;">Filtro de Chamados</h1>
<div class="row">
<div class="col-md-8">
  <table id="filtro" class="display" cellspacing="0" width="100">
    <thead>
      <tr>
	    <th>Encarregado</th>
	    <th>Subcategoria</th>
	    <th>Setor</th>
	    <th>Prioridade</th>
	    <th>Status</th>
	    <th>Abertura</th>
	    <th>Encerramento</th>
      </tr>
    </thead> 
    <tfoot>
      <tr>
	    <th>Encarregado</th>
	    <th>Subcategoria</th>
	    <th>Setor</th>
	    <th>Prioridade</th>
	    <th>Status</th>
	    <th>Abertura</th>
	    <th>Encerramento</th>
      </tr>
    </tfoot>
    <tbody>
      <% if @chamados %>
	    <% @chamados.each do |chamado| %>
	      <tr>
	        <td><%= User.find(chamado.encarregado_id).name %></td>
	        <td><%= chamado.objeto.nome %></td>
	        <td><%= chamado.solicitante.sector.nome %></td>
	        <td>
	          <%= "Baixa" if chamado.prioridade == '1' %>
			  <%= "Média" if chamado.prioridade == '2' %>
			  <%= "Alta" if chamado.prioridade == '3' %>
			  <%= "Crítica" if chamado.prioridade == '4' %></td>
			<td>
			  <%= "Andamento" if chamado.status == 'A' %>
			  <%= "Estourado" if chamado.status == 'E' %>
			  <%= "Concluído" if chamado.status == 'C' %></td>
	        <td class="abertura"><%= chamado.abertura.strftime("%y/%m/%d %H:%M:%S") %></td>
	        <td  class="encerramento"><%= chamado.updated_at.strftime("%y/%m/%d %H:%M:%S") if chamado.status == 'C' %></td>
	      </tr>
	    <% end %>
	  <% end %>
    </tbody>
  </table>  
</div>

<div class="col-md-4">
 <h3>Tempo médio de chamado (pelo filtro):</h3>
 <h2><div id="tempo_medio"> </div></h2>
 <h3>Número de chamados (pelo filtro):</h3>
 <h2><div id="n_chamados"> </div></h2>
</div>
</div>