<div class="row" style="width: 1000px;">

<div class="col-md-6">
	<p><strong>Chamados em andamento: </strong></p>
	<% if @chamados_andamento.any? %>
	  <ul class="listar_no_border">    
	    <% @chamados_andamento.each do |andamento| %>
	      <li>
	        <div class="panel panel-primary">
	          <div class="panel-heading">
	            <h3 class="panel-title">
	              <%= link_to andamento.descricao, andamento %>              
	            </h3>
	            <%= link_to "Concluir chamado", edit_chamado_path(andamento, :concluir => "concluir", :status => "C"), class: "botao_chamado btn btn-primary" %>
	          </div>
	          <table class="table table-condensed">
	            <thead>
	              <tr>
	                <th>Subcategoria</th>
	                <th>Setor</th>
	                <th>Aberto em</th>
	                <th>Prioridade</th>
	              </tr>
	            </thead>
	            <tbody>
	              <tr>
	                <td><%= andamento.objeto.nome %></td>
	                <td><%= andamento.solicitante.sector.nome %></td>
	                <td><%= andamento.created_at.to_s.chomp(' -0300') %></td>
	                <td>
	                  <%= "Baixa" if andamento.prioridade == '1' %>
	                  <%= "Média" if andamento.prioridade == '2' %>
	                  <%= "Alta" if andamento.prioridade == '3' %>
	                  <%= "Crítica" if andamento.prioridade == '4' %>
	                </td>
	              </tr>
	            </tbody>
	          </table>
	        </div>
	      </li>
	    <% end %>
	  </ul>
	<% else %>
	<div style="width:100%; background-color: #428bca; height: 100px; line-height: 100px; color: white; text-align: center; border: 1px solid #428bca; border-radius: 10px;">
		Não há chamados em andamento
	</div>
	<% end %>
</div>

<div class="col-md-6">
	<p><strong>Chamados em espera: </strong></p>
	<% if @chamados_espera.any? %>
	  <ul class="listar_no_border">    
	    <% @chamados_espera.each do |espera| %>
	      <li>
	        <div class="panel panel-info ">
	          <div class="panel-heading">
	            <h3 class="panel-title">
	              <%= link_to espera.descricao, espera %>              
	            </h3>
	            <%= link_to("Aceitar chamado", chamado_path(espera, :status => "A"), :method => :put, class: "botao_chamado btn btn-info") %>
	          </div>
	          <table class="table table-condensed">
	            <thead>
	              <tr>
	                <th>Subcategoria</th>
	                <th>Setor</th>
	                <th>Aberto em</th>
	                <th>Prioridade</th>
	              </tr>
	            </thead>
	            <tbody>
	              <tr>
	                <td><%= espera.objeto.nome %></td>
	                <td><%= espera.solicitante.sector.nome %></td>
	                <td><%= espera.created_at.to_s.chomp(' -0300') %></td>
	                <td>
	                  <%= "Baixa" if espera.prioridade == '1' %>
	                  <%= "Média" if espera.prioridade == '2' %>
	                  <%= "Alta" if espera.prioridade == '3' %>
	                  <%= "Crítica" if espera.prioridade == '4' %>
	                </td>
	              </tr>
	            </tbody>
	          </table>
	        </div>
	      </li>
	    <% end %>
	  </ul>
	<% else %>
	<div style="width:100%; background-color: #d9edf7; height: 100px; line-height: 100px; text-align: center; border: 1px solid #bce8f1; border-radius: 10px;">
		Não há chamados em espera
	</div>
	<% end %>
</div>
</div>
