<% if @chamados_andamento.any? %>
  <ul class="listar">
    <p><strong>Chamados em andamento: </strong></p>
    <% @chamados_andamento.each do |andamento| %>
      <li>
        <%= link_to andamento.descricao, andamento %>
        | <%= link_to andamento.solicitante.sector.nome, andamento.solicitante.sector %>
        | <%= link_to "Editar", edit_chamado_path(andamento) %>
        | <%= link_to "Concluir chamado", edit_chamado_path(andamento, :concluir => "concluir", :status => "C") %>
      </li>
    <% end %>
  </ul>
<% end %>
<br>
<% if @chamados_espera.any? %>
  <ul class="listar">
    <p><strong>Chamados em espera: </strong></p>
    <% @chamados_espera.each do |espera| %>
      <li>
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title"><%= link_to espera.descricao, espera %></h3>
          </div>
          <table class="table">
            <thead>
              <tr>
                <th>Objeto</th>
                <th>Setor</th>
                <th>Aberto em</th>
                <th>Prioridade</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><%= espera.objeto.nome %></td>
                <td><%= espera.solicitante.sector.nome %></td>
                <td><%= espera.created_at.to_s.chomp(' -0300') %></td>
                <td><%= espera.prioridade %></td>
              </tr>
            </tbody>
          </table>
        </div>
        
        <!--<div class="panel panel-primary">-->
        <!--  <div class="panel-heading">-->
        <!--    <h3 class="panel-title"><%= link_to espera.descricao, espera %></h3>-->
        <!--  </div>-->
        <!--  <div class="panel-body">-->
        <!--    <%= espera.objeto.nome %>-->
        <!--    | <%= espera.solicitante.sector.nome %>-->
        <!--    | <%= espera.created_at.to_s.chomp(' -0300') %>-->
        <!--    | <%= espera.prioridade %>-->
        <!--    | <%= link_to("Aceitar chamado", chamado_path(espera, :status => "A"), :method => :put) %>-->
        <!--  </div>-->
        <!--</div>-->
        
        <!--<%= link_to espera.descricao, espera %>-->
        <!--| <%= link_to espera.solicitante.sector.nome, espera.solicitante.sector %>-->
        <!--| <%= link_to "Editar", edit_chamado_path(espera) %>-->
        <!--| <%= link_to("Aceitar chamado", chamado_path(espera, :status => "A"), :method => :put) %>-->
      </li>
    <% end %>
  </ul>
<% end %>