<div class="row" style="width: 1000px;">

<div class="col-md-12">
	<p><strong>Chamados em andamento: </strong></p>
	<% if @chamados_andamento.any? %>
	  <ul class="listar_no_border">    
	    <% @chamados_andamento.each do |andamento| %>
	      <li>
	        <div class="panel panel-primary">
	          <div class="panel-heading">
	            <h3 class="panel-title">
	              <%= link_to andamento.descricao, andamento %>              
	            </h3>
	            <%= link_to "Concluir chamado", edit_chamado_path(andamento, :concluir => "concluir", :status => "C"), class: "botao_chamado btn btn-primary btn-chamados-andamento" %>
	          </div>
	          <table class="table table-condensed">
	            <thead>
	              <tr>
	                <th>Subcategoria</th>
	                <th>Setor</th>
	                <th>Aberto</th>
	                <th>Prioridade</th>
	                <th>Encarregado</th>
	              </tr>
	            </thead>
	            <tbody>
	              <tr>
	                <td><%= andamento.objeto.nome %></td>
	                <td><%= andamento.solicitante.sector.nome %></td>
	                <td><%= andamento.created_at.strftime("%d/%m/%y - %H:%M") %></td>
	                <td>
	                  <%= "Baixa" if andamento.prioridade == '1' %>
	                  <%= "Média" if andamento.prioridade == '2' %>
	                  <%= "Alta" if andamento.prioridade == '3' %>
	                  <%= "Crítica" if andamento.prioridade == '4' %>
	                </td>
	              	<td><%= User.find(andamento.encarregado_id).name %></td>
	              </tr>
	              
	            </tbody>
	          </table>
	        </div>
	      </li>
	    <% end %>
	  </ul>
	<% else %>
	<div style="width:100%; background-color: #428bca; height: 100px; line-height: 100px; color: white; text-align: center; border: 1px solid #428bca; border-radius: 10px;">
		Não há chamados em andamento
	</div>
	<% end %>
</div>
</div>
