<% if @chamados_andamento.any? %>
  <ul class="listar_no_border">
    <!--<h1><span class="label label-default lab">Chamados em andamento</span></h1>-->
    <p><strong>Chamados em andamento: </strong></p>
    <% @chamados_andamento.each do |andamento| %>
      <li>
        <div class="panel panel-primary chamadoPanel">
          <div class="panel-heading">
            <h3 class="panel-title">
              <%= link_to andamento.descricao, andamento %>
            </h3>
          </div>
          <table class="table">
            <thead>
              <tr>
                <th>Subcategoria</th>
                <th>Setor</th>
                <th>Aberto em</th>
                <th>Prioridade</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><%= andamento.objeto.nome %></td>
                <td><%= andamento.solicitante.sector.nome %></td>
                <td><%= andamento.created_at.to_s.chomp(' -0300') %></td>
                <td><%= andamento.prioridade %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </li>
    <% end %>
  </ul>
<% end %>
<br>
<% if @chamados_espera.any? %>
  <ul class="listar_no_border">
    <!--<h1><span class="label label-default lab">Chamados em espera</span></h1>-->
    <p><strong>Chamados em espera: </strong></p>
    <% @chamados_espera.each do |espera| %>
      <li>
        <div class="panel panel-info chamadoPanel">
          <div class="panel-heading">
            <h3 class="panel-title">
              <%= link_to espera.descricao, espera %>
            </h3>
          </div>
          <table class="table">
            <thead>
              <tr>
                <th>Subcategoria</th>
                <th>Setor</th>
                <th>Aberto em</th>
                <th>Prioridade</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><%= espera.objeto.nome %></td>
                <td><%= espera.solicitante.sector.nome %></td>
                <td><%= espera.created_at.to_s.chomp(' -0300') %></td>
                <td><%= espera.prioridade %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </li>
    <% end %>
  </ul>
<% end %>
<% if @chamados_concluido.any? %>
  <ul class="listar_no_border">
    <!--<h1><span class="label label-default lab">Chamados concluídos</span></h1>-->
    <p><strong>Chamados concluídos: </strong></p>
    <% @chamados_concluido.each do |concluido| %>
      <li>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              <%= link_to concluido.descricao, concluido %>
            </h3>
          </div>
          <table class="table">
            <thead>
              <tr>
                <th>Objeto</th>
                <th>Setor</th>
                <th>Aberto em</th>
                <th>Prioridade</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><%= concluido.objeto.nome %></td>
                <td><%= concluido.solicitante.sector.nome %></td>
                <td><%= concluido.created_at.to_s.chomp(' -0300') %></td>
                <td><%= concluido.prioridade %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </li>
    <% end %>
  </ul>
<% end %>

<!--<% if @chamados_andamento.any? %>-->
<!--  <ul class="listar">-->
<!--    <p><strong>Chamados em andamento: </strong></p>-->
<!--    <% @chamados_andamento.each do |andamento| %>-->
<!--      <li>-->
<!--        <%= link_to andamento.descricao, andamento %>-->
<!--        | <%= link_to andamento.solicitante.sector.nome, andamento.solicitante.sector %>-->
<!--      </li>-->
<!--    <% end %>-->
<!--  </ul>-->
<!--<% end %>-->
<!--<br>-->
<!--<% if @chamados_espera.any? %>-->
<!--  <ul class="listar">-->
<!--    <p><strong>Chamados em espera: </strong></p>-->
<!--    <% @chamados_espera.each do |espera| %>-->
<!--      <li>-->
<!--        <%= link_to espera.descricao, espera %>-->
<!--        | <%= link_to espera.solicitante.sector.nome, espera.solicitante.sector %>-->
<!--      </li>-->
<!--    <% end %>-->
<!--  </ul>-->
<!--<% end %>-->