<% provide(:title, 'Chamados') %>
<h1>Chamados</h1>
<%= link_to "Cadastrar novo chamado",   new_chamado_path, class: "btn btn-default subtitulo" %>
<% if !params["tipo"] %>
  <%= render 'layouts/chamadosGeral'%>
<% elsif params["tipo"] == "pendentes" %>
  <%= render 'layouts/chamadosPendentes' %>
<% elsif params["tipo"] == "estourados" %>  
  <%= render 'layouts/chamadosEstourados' %>
<% elsif params["tipo"] == "concluidos" %>
  <%= render 'layouts/chamadosConcluidos' %>
<% end %>