<% provide(:title, "Registrar chamado") %>
<h1 style="margin-left: 110px;">Registrar chamado</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-4">
    <%= form_for(@chamado) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
		
      <%= f.label :solicitante_id, "Solicitante" %>
      <%= f.select(:solicitante_id, Solicitante.all.collect {|s| [s.nome, s.id]}, {include_blank: true}, {:class => 'form-control'})  %>
      
      <%= f.label :canal_contato, "Meio de contato" %>
      <%= f.select(:canal_contato, [["Email","E"],["Telefone", "T"],["Pessoal", "P"]], {include_blank: true}, {:class => 'form-control'}) %>
      
      <%= f.label :categoria, "Categoria do chamado" %>
      <%= f.select(:categoria, [["Hardware","H"],["Software", "S"],["Rede", "R"]], {include_blank: true}, {:class => 'form-control'}) %>
      
      <%= f.label :objeto_id, "Objeto" %>
      <%= f.select(:objeto_id, Objeto.all.collect {|s| [s.nome, s.id]}, {include_blank: true}, {:class => 'form-control'})  %>
    
      <%= f.label :descricao, "Descrição"%>
      <%= f.text_area :descricao, class: 'form-control' %>
      
      <%= f.label :prioridade, "Prioridade do chamado" %>
      <%= f.select(:prioridade, 1..10, {include_blank: true}, {:class => 'form-control'}) %>
      
      <%= f.label :observacoes, "Observações"%>
      <%= f.text_area :observacoes, class: 'form-control' %>
    
      <%= f.submit "Criar chamado", class: "btn btn-primary" %>
    <% end %>

  </div>
</div>