<% provide(:title, "Chamado #{@chamado.id}") %>

<h1>Informações do chamado</h1>

<% if admin? %>
  <p style="float: right;">
    <%= link_to "", edit_chamado_path(@chamado), class: "glyphicon glyphicon-pencil btn btn-default btn-lg" %>
    <%= link_to "", @chamado, method: :delete, data: { confirm: "Tem certeza que deseja deletar este chamado?" }, class: "glyphicon glyphicon-trash btn btn-default btn-lg" %>
  </p>
<% end %>

<p><strong>Código: </strong><%= @chamado.id %></p>
<p><strong>Técnico que criou o chamado: </strong><%= @chamado.user.name %></p>
<p><strong>Técnicos encarregados: </strong><br>
<% @chamado.tecnicos.each do |t| %>
  <%= t.name %></p>
<% end %>

<p><strong>Setor: </strong><%= @chamado.solicitante.sector.nome %></p>
<p><strong>Bairro: </strong><%= @chamado.solicitante.sector.bairro %></p>
<p><strong>Rua: </strong><%= @chamado.solicitante.sector.rua %></p>
<p><strong>Número: </strong><%= @chamado.solicitante.sector.numero %></p>
<% if !@chamado.solicitante.sector.complemento.blank? %>
  <p><strong>Complemento: </strong><%= @chamado.solicitante.sector.complemento %></p>
<% end %>
<p><strong>Solicitante: </strong><%= @chamado.solicitante.nome %></p>
<p>
  <strong>Categoria: </strong>
  <%= "Hardware" if @chamado.categoria == 'H' %>
  <%= "Software" if @chamado.categoria == 'S' %>
  <%= "Rede" if @chamado.categoria == 'R' %>
</p>
<p><strong>Objeto: </strong><%= @chamado.objeto.nome %></p>
<p><strong>Descrição: </strong><%= @chamado.descricao %></p>
<p><strong>Abertura: </strong><%= @chamado.created_at.to_s.chomp(' -0300') %></p>
<p><strong>Última Atualização: </strong><%= @chamado.updated_at.to_s.chomp(' -0300') %></p>
<p>
  <strong>Canal do contato: </strong>
  <%= "Email" if @chamado.canal_contato == 'E' %>
  <%= "Telefone" if @chamado.canal_contato == 'T' %>
  <%= "Pessoalmente" if @chamado.canal_contato == 'P' %>
</p>
<p>
  <strong>Status: </strong>
  <%= "Concluído" if @chamado.status == 'C' %>
  <%= "Em andamento" if @chamado.status == 'A' %>
  <%= "Em espera" if @chamado.status == 'E' %>
</p>
<p>
  <strong>Resolvido?: </strong>
  <%= "Sim" if @chamado.resolvido %>
  <%= "Não" if !@chamado.resolvido %>
  </p>
<p><strong>Prioridade: </strong><%= @chamado.prioridade.to_s %></p>
<% if !@chamado.observacoes.blank? %>
  <p><strong>Observações: </strong><%= @chamado.observacoes %></p>
<% end %>
<% if !@chamado.resolucao.blank? %>
  <p><strong>Resolução: </strong><%= @chamado.resolucao %></p>
<% end %>