<% provide(:title, "Chamado #{@chamado.id}") %>

<h1>Informações do chamado</h1>

<p><strong>Código: </strong><%= @chamado.id %></p>
<p><strong>Técnico que criou o chamado: </strong><%= @chamado.user.name %></p>
<p><strong>Técnicos encarregados: </strong><br>
<% @chamado.tecnicos.each do |t| %>
  &nbsp;&nbsp;&nbsp;&nbsp; <%= t.name %></p>
<% end %>
<p><strong>Setor: </strong><%= @chamado.solicitante.sector.nome %></p>
<p><strong>&nbsp;&nbsp;&nbsp;&nbsp;Bairro: </strong><%= @chamado.solicitante.sector.bairro %></p>
<p><strong>&nbsp;&nbsp;&nbsp;&nbsp;Rua: </strong><%= @chamado.solicitante.sector.rua %></p>
<p><strong>&nbsp;&nbsp;&nbsp;&nbsp;Número: </strong><%= @chamado.solicitante.sector.numero %></p>
<% if !@chamado.solicitante.sector.complemento.blank? %>
  <p><strong>&nbsp;&nbsp;&nbsp;&nbsp;Complemento: </strong><%= @chamado.solicitante.sector.complemento %></p>
<% end %>
<p><strong>Solicitante: </strong><%= @chamado.solicitante.nome %></p>
<p>
  <strong>Categoria: </strong>
  <%= "Hardware" if @chamado.categoria == 'H' %>
  <%= "Software" if @chamado.categoria == 'S' %>
  <%= "Rede" if @chamado.categoria == 'R' %>
</p>
<p><strong>Objeto: </strong><%= @chamado.objeto.nome %></p>
<p><strong>Descrição: </strong><%= @chamado.descricao %></p>
<p><strong>Abertura: </strong><%= @chamado.created_at.to_s.chomp(' -0300') %></p>
<p><strong>Última Atualização: </strong><%= @chamado.updated_at.to_s.chomp(' -0300') %></p>
<p>
  <strong>Canal do contato: </strong>
  <%= "Email" if @chamado.canal_contato == 'E' %>
  <%= "Telefone" if @chamado.canal_contato == 'T' %>
  <%= "Pessoalmente" if @chamado.canal_contato == 'P' %>
</p>
<p>
  <strong>Status: </strong>
  <%= "Concluído" if @chamado.status == 'C' %>
  <%= "Em andamento" if @chamado.status == 'A' %>
  <%= "Em espera" if @chamado.status == 'E' %>
</p>
<p>
  <strong>Resolvido?: </strong>
  <%= "Sim" if @chamado.resolvido %>
  <%= "Não" if !@chamado.resolvido %>
  </p>
<p><strong>Prioridade: </strong><%= @chamado.prioridade.to_s %></p>
<% if !@chamado.observacoes.blank? %>
  <p><strong>Observações: </strong><%= @chamado.observacoes %></p>
<% end %>
