<% provide(:title, "Editar solicitante") %>
<h1 style="margin-left: 110px;">Editar solicitante</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-4">
    <%= form_for(@solicitante) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :sector_id, "Setor" %>
      <%= f.select(:sector_id, Sector.all.collect {|s| [s.nome, s.id]}, {:class => 'form-control'})  %>
      
      <%= f.label :rf, "RF" %>
      <%= f.text_field :rf, class: 'form-control' %>
      
      <%= f.label :nome, "Nome" %>
      <%= f.text_field :nome, class: 'form-control' %>

      <%= f.label :email, "Endereço de email" %>
      <%= f.email_field :email, class: 'form-control' %>
      
      <%= f.label :ramal, "Ramal"%>
      <%= f.phone_field :ramal, class: 'form-control' %>

      <%= f.submit "Salvar mudanças", class: "btn btn-primary" %>
    <% end %>

  </div>
</div>