<% provide(:title, @solicitante.nome) %>

<p><strong>Nome: </strong><%= @solicitante.nome %></p>
<p><strong>Setor: </strong><%= link_to @solicitante.sector.nome, @solicitante.sector %></p>
<p><strong>RF: </strong><%= @solicitante.rf %></p>
<p><strong>Email: </strong><%= @solicitante.email %></p>
<p><strong>Ramal: </strong><%= @solicitante.ramal %></p>
