<% provide(:title, 'Registro') %>
<h1>Registros</h1>
<!--<ul>-->
<!--  <% @registros.each do |r| %>-->
<!--    <li style="margin-bottom: 25px">-->
<!--      <%= r.inspect %>-->
<!--    </li>-->
<!--  <% end %>-->
<!--</ul>-->
<div class="col-md-4 col-md-offset-4">
  <%= form_tag resultado_path, :method => 'get' do %>
    
    <%= select_tag 'user', options_for_select(@users.collect{|u|[u.name, u.id]}) %>
    <div class="row">
      <div class="col-md-6"><%= select_month(Date.today) %></div>
      <div class="col-md-6"><%= select_year(Date.today, start_year: 2015, end_year: 2030) %></div>
    </div>
    <%= submit_tag "Buscar", :name => nil, class: "btn btn-primary" %>
  <% end %>
</div>